/* TimeEntryForm.css */
/* form {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    
    max-width: 100%;
    height: 1000px;
    margin: auto;
    padding: 20px;
} */

/* .drag-items {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    
    max-width: 400px;
    margin: auto;
    padding: 2px;
} */


form {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: beige;
}


textarea {
    min-height: 200px;
    font-size: 30px;
}
button {
    margin: 50px;
    padding: 20px;
    font-size: 30px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid lightgray;
}
/* input, textarea, button {
    margin: 10px 0;
    padding: 10px;
} */

.user-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    min-height: 50px;
}

header {
    min-height: 100px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  


.area {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    min-height: 300px;  
}

.area-drag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
    color: lightcoral;
    background-color: lightblue;
    
}
  
.area-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    background-color: beige;
    
}

.area-text {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    margin: auto;
    
}

.area-button {
    display: flex;
    flex-direction: column;
    min-width: 30%;

}


/*   
@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }
}
  
@media all and (min-width: 800px) {
.user-input  { flex: 3 0px; }
.aside-1  { order: 1; } 
.user-input  { order: 2; }
.aside-2 { order: 3; }
.text-area  { order: 4; }
} */
  
